body {
    background-color: #f0f8ff;
    text-align: center;
    font-family: Arial;
}

h1 {
    color: #2c3e50;
}

p {
    font-size: 18px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
}
